*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rajdhani', sans-serif;
    animation: moverArriba 1s ease-in ;
}

        /* header */

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: url(../imagenes/camaro69.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    color: #fff;
}

.h1{
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
#espan{
    color: #000;
    text-decoration: none;
}

.subtitulo{
    text-align: center;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: auto;
    padding-left: 20px;
    display: inline-block;
}
nav a:hover{
    color:rgb(150, 150, 150)
}

.titulo{
    text-align: center;
    color: #fff;;
    font-size: 50px;
}

        /* blog */

.contenido{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.blog{
    padding-right: 50px; 
}

.imagen{
    width: 450px;
    height: 300px;
}

button{
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    width: 170px;
    height: 30px;
    margin: none;
    cursor: pointer;
}

ul{
    list-style: none;
    font-size: 40px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.coche{
    width: 250px;
    height: 150px;
}

.clases{
    background-color: darkgreen;
    color: #fff;
}

    /* footer */

footer{
    background: #000;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon-1{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon-2{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon-1:hover{
    background: blue;
    color: #fff;
}
.social-media-icon-2:hover{
    background: #fff;
    color: rgb(218, 0, 116);
}

.social-media-icon-1 i{
    font-size: 30px;
    line-height: 60px;
}
.social-media-icon-2 i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

@keyframes moverArriba{
    0%{
        opacity: 0;
        transform: translatey(150px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:800px){ 

        /* header */

    .h1{
        font-size: large;
        justify-content: space-evenly;
    }

    .titulo{
        font-size: 40px;
    }

    .subtitulo{
        text-align: center;
    }

    /* blog */

    .contenido{
        display: grid;
        flex-direction: column;
        width: 350px;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }

    .blog{
        margin-left: -120px;
    }

    .imagen{
        width: 350px;
        height: 250px;
    }
    
    button{
        background-color: #000;
        color: #fff;
        font-size: 10px;
        font-weight: 900;
        width: 100px;
        height: 20px;
        margin: none;
        cursor: pointer;
    }

    .coche{
        width: 200px;
        height: 150px;
    }

        /* footer */

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 85%;
        margin-bottom: 40px;
    }
    
    .line{
        width: 70%;
        max-width: 800px;
        height: 2px;
        background: #fff;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:737px){

            /* header */

    .h1{
        width: 100vw;
        font-size: medium;
        justify-content: center;
    }

    .titulo{
        font-size: 20px;
    }
    
    .subtitulo{
        font-size: 15px;
    }

        /* blog */

        .contenido{
            display: grid;
            flex-direction: column;
            width: 150px;
            grid-template-columns: 2fr 1fr;
            column-gap: 4rem;
        }
    
        .blog{
            margin-left: -100px;
        }
    
        .imagen{
            width: 200px;
            height: 120px;
        }
        
        button{
            background-color: #000;
            color: #fff;
            font-size: 10px;
            font-weight: 900;
            width: 100px;
            height: 20px;
            margin: none;
            cursor: pointer;
        }
    
        .coche{
            width: 100px;
            height: 75px;
        }

        .sidebar{
            margin-left: -50px;
        }
        
        .tipos{
            font-size: medium;
        }

            /* footer */

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}
@media screen and (max-width:400px){

            /* header */

    .h1{
        width: 100vw;
        font-size: medium;
        justify-content: center;
    }

    .titulo{
        font-size: 20px;
    }
    
    .subtitulo{
        font-size: 15px;
    }

        /* blog */

        .contenido{
            display: grid;
            flex-direction: column;
            width: 150px;
            grid-template-columns: 2fr 1fr;
            column-gap: 4rem;
        }
    
        .blog{
            margin-left: -50px;
        }
    
        .imagen{
            width: 150px;
            height: 90px;
        }
        
        button{
            background-color: #000;
            color: #fff;
            font-size: 10px;
            font-weight: 900;
            width: 100px;
            height: 20px;
            margin: none;
            cursor: pointer;
        }
    
        .coche{
            width: 100px;
            height: 75px;
        }

        .sidebar{
            margin-left: -100px;
        }
        
        .tipos{
            font-size: medium;
        }

            /* footer */

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}