*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rajdhani', sans-serif;
    /* animation: moverArriba 1s ease-in ; */
    background: rgb(0, 0, 24);
    color: #fff;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 60px 0;
    animation: aparecer 3s ease-in;
}

header{
    height: 100vh;
    background-image: url(../imagenes/720s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    color: #fff;
}

.h1{
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    animation: aparecer 3s ease-in;
}
#espan{
    color: #000;
    text-decoration: none;
}

.subtitulo{
    text-align: center;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: auto;
    padding-left: 20px;
    display: inline-block;
    animation: aparecer 3s ease-in;
}
nav a:hover{
    color:rgb(150, 150, 150)
}

.titulo{
    text-align: center;
    color: #fff;;
    font-size: 50px;
}

/* INFORMACIÓN */

.tecnologias{
    font-size: 60px;
    text-align: center;
}
.servicios{
    font-size: 60px;
    text-align: center;
}

.yo{
    width: 50%;
        padding: 0 0 0 0;
        margin: 0;
        width: 20%;
        border-radius: 60%;
        box-shadow: black;
}

.texto{
    font-size: xx-large;
}

main{
    justify-content: space-around;
    text-align: center;
    display: flex;
}

.galeria{
    /* background: #1c03ff15; */
    background: linear-gradient(45deg, #140599, #000);
    /* filter: blur(30px); */
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light{
    object-fit: cover;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s ;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    cursor: pointer;

}


/* FOOTER */

footer{
    background: #000;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon-1{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon-2{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon-1:hover{
    background: blue;
    color: #fff;
}
.social-media-icon-2:hover{
    background: #fff;
    color: rgb(218, 0, 116);
}

.social-media-icon-1 i{
    font-size: 30px;
    line-height: 60px;
}
.social-media-icon-2 i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

@keyframes moverArriba{
    0%{
        opacity: 0;
        transform: translatey(150px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes aparecer{
    0%{
        opacity: 0;
        transform-origin: right;
    }
    100%{
        opacity: 1;
        
    }
}

@media screen and (max-width:800px){ 

    /* portada */

    .h1{
        font-size: large;
        justify-content: space-evenly;
    }

    .titulo{
        font-size: 40px;
    }

    .subtitulo{
        text-align: center;
    }

    /* información */

    .yo{
        width: 30%;
    }

    .texto{
        font-size: larger;
    }
    
    /* footer */
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 85%;
        margin-bottom: 40px;
    }
    
    .line{
        width: 70%;
        max-width: 800px;
        height: 2px;
        background: #fff;
        margin-bottom: 40px;
    }
}


@media screen and (max-width:500px){

    .herramientas{
        font-size: medium;
    }

}

@media screen and (max-width:400px){
    /* portada */

    .h1{
        width: 100vw;
        font-size: medium;
        justify-content: center;
    }

    .titulo{
        font-size: 20px;
    }
    
    .subtitulo{
        font-size: 15px;
    }

    /* información */

    .herramientas{
        font-size: small;
    }

    .img-galeria{
        width: 45%;
    }

    .imagen-light{
        width: 100%;
        /* height: 100%; */
    }

    /* footer */

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}